
.footer {
  background-color: #6a2858;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  bottom: 0;
}

.footer h1 {
  color: black;
}

.copyright {
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.copyright p { 
  color: black;
}
